@page "/pessoas"
@using Application.DataTransferObjects
@using Application.Interfaces


@inject IPessoaApplication PessoaApplication
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject TooltipService TooltipService

<div id="lists" class="lists">
    <div class="lists-all">
        <TopBody Title=@PlastererResource.title
                 Subtitle=@PlastererResource.sub_title
            <BreadcrumbList>
                <li class="breadcrumb-item"><a href="/">@MainL</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Pessoa</li>
            </BreadcrumbList>
            <ButtonsList>
                <AuthorizeView Policy="Plasterer-create">
                    <RadzenButton Icon="add" Text="@ADICIONAR" Click="@(OpenAddPessoa)"></RadzenButton>
                </AuthorizeView>
                <RadzenButton Icon="autorenew" Text="@ATUALIZAR" Click="@(() => Reload())"></RadzenButton>
            </ButtonsList>
        </TopBody>
    </div>

    <div class="data-tables-list ">
        <div class="data table-responsive-sm">
            <div class="row">
                <div class="col-12">
                    <RadzenDataGridApp @ref="Grid" IsLoading=@IsLoading Count="@Count" Data="@pessoaList" LoadData="@LoadData"
                                       PageSizeOptions="@_pageSizeOptions" PageSizeChanged="@(() => Grid.Reload())" PageSize="_pageSizeOptions.First()" ShowPagingSummary="true"
                                       AllowSorting="true" AllowFiltering="true" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Center" TItem="PlastererDto" ColumnWidth="200px">
                        <Columns>
                            <RadzenDataGridColumn TItem="PlastererDto" Property="Name" Title="@PlastererResource.name" SortOrder="SortOrder.Ascending"/>
                            <RadzenDataGridColumn TItem="PlastererDto" Property="Manufacturer.Name" Title="@PlastererResource.manufacturer" />
                            <RadzenDataGridColumn TItem="PlastererDto" Property="City.Name" Title="@PlastererResource.city" Width="60px" FormatString="{0:d}" />
                            <RadzenDataGridColumn TItem="PlastererDto" Property="DateRegister" Title="@PlastererResource.register_date" Width="60px" FormatString="{0:d}" />
                            <RadzenDataGridColumn TItem="PlastererDto" Property="Status" Title="@PlastererResource.status" Width="150px" TextAlign="TextAlign.Center">
                                <Template Context="data">
                                    @{
                                        string buttonClass = data.Status == false ? "canceled" : "";
                                    }
                                    <div class="status-button @buttonClass">
                                        <span>@(data.Status ? "Ativo" : "Inativo")</span>
                                    </div>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="PlastererDto" TextAlign="TextAlign.Center" Filterable="false" Sortable="false" Width="60px">
                                <Template Context="plasterer">
                                    <RadzenButton Icon="list" ButtonStyle="ButtonStyle.Secondary" Variant="Variant.Text" Size="ButtonSize.Medium" Click="@(args => OpenServiceStations(plasterer))" MouseEnter="@(args => ShowTooltip(PlastererResource.open_plastererstation, args) )"></RadzenButton>
                                    <AuthorizeView Policy="Plasterer-update">
                                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Secondary" Variant="Variant.Text" Size="ButtonSize.Medium" Click="@(args => OpenEditPlasterer(plasterer))" MouseEnter="@(args => ShowTooltip(PlastererResource.edit, args) )"></RadzenButton>
                                    </AuthorizeView>
                                    <AuthorizeView Policy="Plasterer-delete">
                                        <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Secondary" Variant="Variant.Text" Size="ButtonSize.Medium" Click="@(args => ConfirmDeletePlasterer(plasterer))" MouseEnter="@(args => ShowTooltip(PlastererResource.delete, args) )"></RadzenButton>
                                    </AuthorizeView>
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGridApp>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private readonly IEnumerable<int> _pageSizeOptions = new[] { 10, 20, 30 };
    private RadzenDataGridApp<PlastererDto>? Grid { get; set; }
    private IEnumerable<PessoaDto> pessoaList { get; set; }
    private bool IsLoading { get; set; }
    private int Count { get; set; }

    private void OpenEditPessoa(PessoaDto pessoaDto)
    {
        NavigationManager.NavigateTo($"/pessoa/{plasterer.Id}");
    }
}
